.1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e1_3 { 
	width:1822px;
	height:1025px;
	position:absolute;
	left:-171px;
	top:0px;
	background-image:url(images/foe3etdx0ainp8c_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_4 { 
	width:1118px;
	height:1050px;
	position:absolute;
	left:754px;
	top:0px;
	background-image:url(img/1641358057_2_abrakadabra_fun_p_kli_bez_fona_genshin_3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_27 { 
	width:344px;
	height:266px;
	position:absolute;
	left:169px;
	top:65px;
}
.2_11 { 
	overflow:hidden;
}
.e2_11 { 
	border-radius:35px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:344px;
	height:266px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_25 { 
	width:397px;
	height:329px;
	position:absolute;
	left:-18px;
	top:-31px;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom-left-radius:35px;
	border-bottom-right-radius:35px;
	background-image:url(../img/avatars_genshin_impact_55_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_29 { 
	width:343px;
	height:263px;
	position:absolute;
	left:625px;
	top:319px;
}
.2_24 { 
	overflow:hidden;
}
.e2_24 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:343px;
	height:263px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_28 { 
	width:384px;
	height:303px;
	position:absolute;
	left:-32px;
	top:0px;
	background-image:url(images/1637664080_genshin_impact_grib_filanemo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_30 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4399999976158142;
	width:458px;
	height:388px;
	position:absolute;
	left:112px;
	top:486px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e2_31 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.4399999976158142;
	width:385px;
	height:301px;
	position:absolute;
	left:112px;
	top:401px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_32 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.6000000238418579;
	width:202px;
	height:331px;
	position:absolute;
	left:156px;
	top:511px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e2_33 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.6000000238418579;
	width:420px;
	height:329px;
	position:absolute;
	left:131px;
	top:606px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
