<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="./css/styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e1_2><div  class="e1_3"></div><div  class="e1_4"></div><div class=e2_27><div class=e2_11><div  class="e2_25"></div></div></div><div class=e2_29><div class=e2_24><div  class="e2_28"></div></div></div><div  class="e2_30"></div><span  class="e2_31">
</span><span  class="e2_32">Klee</span><span  class="e2_33">Кли — просто чудовищно наивная маленькая девочка с большим талантом к пиротехнике. Ее маленькие сокровища могут показаться милыми, но мы бы не советовали с ними играть.

</span></div>
          </body>
          </html>